body {
  font: 11px sans-serif;
  font-family: "avenir"; 
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}
.chart {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.chart rect {
  fill: steelblue;
}

.tooltip {
  display: inline-block;
  position: absolute;
  width: 300px;
  height: 500px;
  pointer-events: none;
  background-color: white;
}

#info {
  font-size: 18px;
  font-family: sans-serif;
  align-content: center;
  padding-left: 50px; 
  padding-right: 50px; 
}

#logo {
  display: inline-block;
  font-size: 2rem;
  height: 50px;
  line-height: 50px;
}
#title-pad {
  padding-bottom: 20px;
  vertical-align: middle;
  display: inline-block;
}
#section-background {
  background-color: #FFB0BA; 

}
